<md-content layout-padding>

  <h2>Portfolio Items</h2>

  <md-card ng-repeat="item in vm.f.portfolioItems.data" layout-padding>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{ item.projectname }}</span><br>
        <span class="md-subhead">{{ item.myrole }}</span>
      </md-card-header-text>
    </md-card-header>
    <img class="md-card-image" ng-src="{{vm.settings.imgPath + item.screenshotname}}">
        <md-card-content layout="row">
          <div class="ek-card-title">
            <strong>Loved: </strong>
          </div>
          <div class="ek-card-description">
            {{ item.loved }}
          </div>
        </md-card-content>
        <md-card-content layout="row">
          <div class="ek-card-title">
            <strong>Learned: </strong>
          </div>
          <div class="ek-card-description">
            {{ item.learned }}
          </div>
        </md-card-content>
        <md-card-content layout="row">
          <div class="ek-card-title">
            <strong>Loathed: </strong>
          </div>
          <div class="ek-card-description">
            {{ item.loathed }}
          </div>
        </md-card-content>
        <md-card-content layout="row">
          <div class="ek-card-title">
            <strong>Skills used: </strong>
          </div>
          <div class="ek-card-description">
            {{ item.skills }}
          </div>
        </md-card-content>
        <md-card-content layout="row">
          <div class="ek-card-title">
            <strong>Ideas: </strong>
          </div>
          <div class="ek-card-description">
            {{ item.ideas }}
          </div>
        </md-card-content>
         <md-card-actions layout="row" layout-align="end center">
          <md-button
            href="{{ item.livelink }}"
            target="_blank"
            class="md-raised md-primary md-button md-ink-ripple"
            disabled="{{ item.disableLink }}">
            Live project
            <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5z"/>
            </svg>
          </md-button>
         </md-card-actions>
      </md-card>
  </md-card>


</md-content>

</script>