<md-content layout-padding>

  <h2>Soft Skills</h2>

  <div layout="row" layout-align="center start" layout-wrap>

    <md-card  ng-repeat="skill in vm.f.softSkill.data"
        layout-padding
        flex="100"
        flex-gt-sm="45">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ skill.trait }}</span><br>
          <span class="md-subhead">{{ skill.whyuseful }}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>

  </div>


  <h2>Hard Skills</h2>

    <md-card ng-repeat="skill in vm.f.hardSkill.data" layout-padding>

        <md-card-header>
          <md-card-header-text>
            <span class="md-title">{{ skill.toollangskillapiservice }}</span><br>
            <span class="md-subhead">{{ skill.levelofexperience }}</span>
          </md-card-header-text>
        </md-card-header>

        <md-card-content layout-xs="column" layout-gt-sm="row">
          <div layout="row" flex="33" flex="noshrink">
            <div class="ek-card-title">
              <strong>Loved: </strong>
            </div>
            <div class="ek-card-description">
              {{ skill.love }}
            </div>
          </div>
          <div layout="row" flex="33" flex="noshrink">
            <div class="ek-card-title">
              <strong>Learned: </strong>
            </div>
            <div class="ek-card-description">
              {{ skill.learned }}
            </div>
          </div>
          <div layout="row" flex="33" flex="noshrink">
            <div class="ek-card-title">
              <strong>Loathed: </strong>
            </div>
            <div class="ek-card-description">
              {{ skill.loathe }}
            </div>
          </div>
        </md-card-content>

         <md-card-actions layout="row" layout-align="end center">
          <md-button
            ng-if="skill.linkstoliveprojects"
            href="{{ skill.linkstoliveprojects }}"
            class="md-raised md-primary md-button md-ink-ripple">
            Live project
            <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5z"/>
            </svg>
          </md-button>
         </md-card-actions>

      </md-card>


</md-content>
